<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mapu-chan</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <div style="display: flex; align-items: center; gap: 10px;">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Raihue-chan" style="height: 50px;">
    <h1 style="margin: 0;"><a href="{{ url_for('index') }}">Mapu-chan</a></h1>
</div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>